<!-- Main footer -->
<footer class="sticky bottom-0 flex-shrink-0 md:max-h-14 border-t py-4 bg-white px-4 sm:px-6">
    <div class="container mx-auto flex flex-col-reverse gap-1 md:flex-row items-center justify-between">
        <div x-data class="text-sm font-semibold text-gray-600">
            &copy;<span x-text="new Date().getFullYear()"></span>
            K-WD, All rights reserved
        </div>

        <div class="text-sm">
            Made by
            <a
                class="text-blue-500 hover:underline"
                href="https://github.com/Kamona-WD"
                target="_blank"
                rel="noopener noreferrer"
            >
                Ahmed Kamel
            </a>
        </div>

        <div>
            <a
                href="https://github.com/Kamona-WD/starter-dashboard-layout"
                target="_blank"
                class="flex items-center gap-1"
            >
                <span class="iconify tabler--brand-github h-6 w-6 text-gray-500"></span>

                <span class="hidden text-sm md:block">View on Github</span>
            </a>
        </div>
    </div>
</footer>
