<nav class="sticky top-0 z-10 flex-shrink-0 border-b bg-white px-4 py-2 dark:border-gray-600 dark:bg-dark-1 sm:px-6">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <span class="text-xl font-semibold uppercase tracking-wider lg:hidden">K-WD</span>

                <!-- Toggle sidebar button -->
                {{#btn variant="secondary" classes="p-2" srText="Toggle sidebar" attrs='@click="toggleSidbarMenu()"'}}
                <span
                    aria-hidden="true"
                    class="iconify h-6 w-6 tabler--chevrons-right"
                    :class="{'transform transition-transform -rotate-180': isSidebarOpen}"
                ></span>
                {{/btn}}

                <!-- Search button -->
                {{#btn variant="secondary" icon="tabler--search" srText="Search" attrs='@click="$store.search.open()"'

                }}{{/btn}}
            </div>

            <div class="flex items-center gap-3">
                <!-- Dark mode button -->
                {{#btn variant="secondary" classes="p-2" srText="Toggle dark mode" attrs='@click="$store.darkMode.toggle()"'}}
                <!-- Moon icon -->
                <span x-show="!$store.darkMode.value" class="iconify h-6 w-6 tabler--moon"></span>

                <!-- Sun icon -->
                <span x-show="$store.darkMode.value" class="iconify h-6 w-6 tabler--sun"></span>
                {{/btn}}

                <!-- Settings button -->
                {{#btn variant="secondary" icon="tabler--settings" srText="Settings" attrs='@click="isSettingsPanelOpen = true"'

                }}{{/btn}}

                <!-- User dropdown menu -->
                <div class="relative" x-data="{ isOpen: false }">
                    {{#btn variant="secondary" classes="p-0" srText="User avatar" attrs='@click="isOpen = !isOpen"'}}
                    <img class="h-10 w-10 rounded-md object-cover" src="/images/avatar.jpeg" alt="User Name" />
                    {{/btn}}

                    <div
                        x-cloak
                        @click.away="isOpen = false"
                        x-show.transition.opacity="isOpen"
                        class="absolute right-0 z-[99] mt-2 w-48 origin-top-right rounded-md shadow-lg"
                    >
                        <div class="overflow-hidden rounded-md bg-white ring-1 ring-black/20">
                            <div class="flex flex-col gap-1 border-b px-4 py-2 font-medium">
                                <span class="text-gray-800">Ahmed Kamel</span>
                                <span class="truncate text-xs text-gray-400"> ahmed.kamel&#64;example.com </span>
                            </div>
                            <a
                                href="#"
                                class="block px-4 py-2 text-sm font-medium text-gray-800 transition duration-150 ease-in-out hover:bg-black hover:text-white focus:bg-black focus:text-white focus:outline-none"
                            >
                                Profile
                            </a>

                            <a
                                href="#"
                                class="block px-4 py-2 text-sm font-medium text-gray-800 transition duration-150 ease-in-out hover:bg-black hover:text-white focus:bg-black focus:text-white focus:outline-none"
                            >
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
