<!-- Loading screen -->
<div
    x-ref="loading"
    class="fixed inset-0 z-[200] flex items-center justify-center text-white bg-black bg-opacity-50"
    style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
>
    Loading.....
</div>