<div class="items-center hidden px-2 space-x-2 md:flex-1 md:flex md:mr-auto md:ml-5">
    <!-- search icon -->
    @!component('components/icons/search-icon', {
        'classes': 'w-5 h-5 text-gray-500'
    })
    <input
      type="text"
      placeholder="Search"
      class="px-4 py-3 rounded-md hover:bg-gray-100 lg:max-w-sm md:py-2 md:flex-1 focus:outline-none md:focus:bg-gray-100 md:focus:shadow md:focus:border"
    />
</div>