<div class="flex items-center space-x-3">
    <span class="p-2 text-xl font-semibold tracking-wider uppercase lg:hidden">K-WD</span>
    <!-- Toggle sidebar button -->
    <button @click="toggleSidbarMenu()" class="p-2 rounded-md focus:outline-none focus:ring">
        @!component('components/icons/chevron-icon', {
            'classes': 'w-4 h-4 text-gray-600'
        })
    </button>
</div>