<header class="flex-shrink-0 border-b">
    <div class="flex items-center justify-between p-2">
      <!-- Navbar left -->
      @include('partials/navbar/navbar-left')

      <!-- Mobile search box -->
      @include('partials/navbar/mobile-search')

      <!-- Desktop search box -->
      @include('partials/navbar/desktop-search')

      <!-- Navbar right -->
      @include('partials/navbar/navbar-right')
    </div>
</header>