<!-- Sidebar backdrop -->
<div
    x-show.in.out.opacity="isSidebarOpen"
    class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
    style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
></div>