@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@iconify/tailwind4' {
    prefixes: tabler;
}

@source '../html/**/*.hbs';
@source '../html/**/*.html';
@source '../js/**/*.js';
@source '../support/**/*.js';
@source '../data/**/*.js';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Noto Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-dark-0: #151823;
    --color-dark-1: #222738;
    --color-dark-2: #2A2F42;
    --color-dark-3: #2C3142;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Noto Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}
