<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="description" content="Admin dashboard layout built with tailwindcss and alpinejs." />
        <meta name="keywords" content="Admin, Dashboard, Template, HTML, CSS, JavaScript, Tailwindcss, Alpinejs" />
        <meta name="author" content="Ahmed Kamel" />

        <title>{{ title }} {{#if pageTitle}} | {{ pageTitle }} {{/if}}</title>

        <style>
            [x-cloak] {
                display: none;
            }
        </style>

        <link rel="stylesheet" href="{{ resolve-from-root '../css/main.css' }}" />
    </head>
    <body class="font-sans antialiased">
        <div x-data="setup()" x-init="$refs.loading.classList.add('hidden')">
            {{> partials/loading-screen }}

            <div class="flex">
                {{> partials/sidebar activeLink=activeLink group=group }}

                <div class="flex min-h-screen flex-1 flex-col">
                    {{> partials/navbar }}

                    <!-- Page header -->
                    <div class="border-b bg-white px-4 py-2 sm:px-6 sm:py-4">
                        <header
                            class="container mx-auto flex flex-col items-start justify-between gap-4 lg:flex-row lg:items-center"
                        >
                            {{> header}}
                        </header>
                    </div>

                    <!-- Main content -->
                    <main class="flex-1 p-4 sm:p-6">
                        <div class="container mx-auto">
                            <!-- Page Content -->
                            {{> @partial-block }}
                        </div>
                    </main>

                    {{> partials/footer }}
                </div>
            </div>

            {{> partials/search-modal }}

            <!-- Settings panel -->
            <div
                x-cloak
                x-show="isSettingsPanelOpen"
                @click.away="isSettingsPanelOpen = false"
                x-transition:enter="transition transform duration-300"
                x-transition:enter-start="translate-x-full opacity-30  ease-in"
                x-transition:enter-end="translate-x-0 opacity-100 ease-out"
                x-transition:leave="transition transform duration-300"
                x-transition:leave-start="translate-x-0 opacity-100 ease-out"
                x-transition:leave-end="translate-x-full opacity-0 ease-in"
                class="fixed inset-y-0 right-0 flex w-80 flex-col bg-white shadow-lg"
            >
                <div class="flex flex-shrink-0 items-center justify-between p-2">
                    <h6 class="p-2 text-lg">Settings</h6>

                    <button
                        @click="isSettingsPanelOpen = false"
                        type="button"
                        class="inline-flex select-none items-center rounded-md bg-gray-100 p-2 font-medium text-gray-500 transition-colors hover:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-black focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50"
                    >
                        <span class="sr-only">Settings</span>

                        <span class="iconify h-6 w-6 tabler--x"></span>
                    </button>
                </div>

                <div class="max-h-full flex-1 overflow-hidden p-4 hover:overflow-y-scroll">
                    <span>Settings Content</span>
                    <!-- Settings Panel Content ... -->
                </div>
            </div>
        </div>

        <script type="module" src="{{ resolve-from-root '../js/main.js' }}"></script>
    </body>
</html>
