<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/vendor/Chart.min.css" />
    <link rel="stylesheet" href="assets/css/tailwind.css" />
    <script src="assets/js/vendor/alpine.js" defer></script>
  </head>
  <body class="antialiased text-gray-900 bg-white">
    <div
      class="flex h-screen overflow-y-hidden bg-white"
      x-data="setup()"
      x-init="$refs.loading.classList.add('hidden')"
    >
      @include('partials/loading')

      @include('partials/sidebar/sidebar-backdrop')
      @include('partials/sidebar/sidebar')
      
      <div class="flex flex-col flex-1 h-full overflow-hidden">
        @include('partials/navbar/navbar')

        @!section('content')
        
        @include('partials/footer')
      </div>

      @include('partials/settings-panel')
    </div>
    @!section('scripts')
  </body>
</html>
