<div class="relative" x-data="{ isOpen: false }">
    
    {{{ await $slots.trigger() }}}

    <div
        @click.away="isOpen = false"
        x-show.transition.opacity="isOpen"
        class="absolute z-50 w-48 max-w-md mt-3 transform bg-white rounded-md shadow-lg -translate-x-3/4 min-w-max"
    >
        {{{ await $slots.content() }}}
    </div>
</div>